SERVER_NAME="itsy-bitsy"

# Nginx
NGINX_HOST=localhost

# PHP
# See https://hub.docker.com/r/nanoninja/php-fpm/tags/
PHP_VERSION=8.1

XDEBUG_PORT=9003
XDEBUG_LOG_DIR="./docker/logs/xdebug"

PMA_PORT=8080
PMA_SECURE_PORT=8443

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=norbi
MYSQL_ROOT_PASSWORD=root
MYSQL_PASSWORD=mysql1122
MYSQL_DATABASE=config
MYSQL_INITDB_DIR="./docker/config/initdb"
MYSQL_DATA_DIR="./docker/data/mysql"
MYSQL_LOG_DIR="./docker/logs/mysql"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379